<h2>Add a New Employee:</h2>
<%= form_for [:admin, @employee] do |f| %>
  <%= render partial: 'form', locals: {employee: @employee, f:f} %>
  <%= render partial: 'add_shift', locals: {f:f, shift: @shift} %>
  <%= f.submit %>
<% end %>
