<h1 class="home-title">Scheduler.</h1>
<% if employee_signed_in? %>
  <h3> <%= link_to "View existing schedules", schedules_path %>
  <% if current_employee.supervisor? %>
    or <%= link_to "generate a new one.", new_schedule_path %>
  <% end %>
  </h3>
<% end %>
