<h4>See a list of schedules below:</h4>
<ul>
  <% @schedules.each do |schedule| %>
    <li>
      <%= link_to schedule.start_date.strftime("%A, %B %e, %Y"), schedule_path(schedule) %>
    </li>
  <% end %>
</ul>
