<h3>Automatically generate a new schedule</h3>

<div class="container">
Use this tool to automatically generate a weekly schedule. Note that your schedule will always start on a Monday and will be a week long.
<br /><br />
Pick a date to start the schedule.
<%= render 'form' %>
</div>
