<h1 id="title"></h1>

<h3 id="header-options"></h3>

<h3>MONDAY</h3>
<div id="Monday">
</div>
<h3>TUESDAY</h3>
<div id="Tuesday">
</div>
<h3>WEDNESDAY</h3>
<div id="Wednesday">
</div>
<h3>THURSDAY</h3>
<div id="Thursday">
</div>
<h3>FRIDAY</h3>
<div id="Friday">
</div>

<h3>Add a Shift:</h3>
<div>
  <%= render partial: "shifts/form", locals: { shift: @schedule.shifts.build } %>
</div>

<%= javascript_tag do %>
  $(getSchedule(<%= @schedule.id %>));
<% end -%>

<script type="text/javascript" charset="utf-8">
  $( $('form').submit(function(event) {
      //prevent form from submitting the default way
      event.preventDefault();
      alert("we r hack3rz");
    });
  );
</script>
