<% if  @employee.shifts.length == 0 %>
<h3>This employee has no shifts yet. </h3>
<%= link_to "Add one here.", new_admin_employee_shift_path(@employee) %>
<% end %>
<%= render partial: "shift", collection: @shifts %>
