<div class='container'>
  <h2>Edit This Employee:</h2>
  <%= form_for [:supervisor, @employee] do |f| %>
    <%= render partial: 'form', locals: {employee: @employee, f:f} %>
    <div class="submit-button">
      <%= f.submit %>
    </div>
  <% end %>
</div>
